<div class="roadmap-container">
  <h1>Matemática para Concursos</h1>
  
  <p>Um curso completo de Matemática Básica e Raciocínio Lógico voltados para concursos públicos. Com os assuntos que mais aparecem nos principais concursos, todos os módulos com PDF, aula teórica, aula de exercícios e um simulado incrível, em que seu rendimento é calculado na hora e a resolução também será em vídeo.</p>
  
  <p>Além de tudo isso, são entregues bônus incríveis que custariam caro se fossem cobrados!</p>
  
  <p>O professor Reinaldo tem o método perfeito para a sua aprovação, começando do zero e terminando somente na posse!</p>

  <div class="cta-container">
    <button class="cta-button" (click)="redirectToCourse()">Acessar o Método Rei - Matemática</button>
  </div>

  <div class="cta-container">
    <button class="cta-button" (click)="redirectToFGV()">Acessar Matemática para FGV</button>
  </div>
</div>
